*/*.iml
.gradle
/local.properties
.idea
/.idea/libraries
.DS_Store
*/build
build/*
/captures
.externalNativeBuild
/app/build
*/.gitignore
gradlew*
local.properties
app/release


#never remove!!
keystore.properties 
